---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Image from '~/components/common/Image.astro';

const metadata = {
  title: 'Horário - OpenDance Madeira',
  description:
    'Confira o último horário das aulas e eventos de dança na OpenDance Madeira. Fique atualizado com nossas aulas de Salsa Cubana, Bachata, Kizomba e muito mais.',
  keywords: 'horário de dança, aulas de dança, Salsa Cubana, Bachata, Kizomba, Madeira, eventos de dança',
  canonical: 'https://opendancemadeira.com/pt/schedule',
  openGraph: {
    title: 'Horário - OpenDance Madeira',
    description:
      'Confira o último horário das aulas e eventos de dança na OpenDance Madeira. Fique atualizado com nossas aulas de Salsa Cubana, Bachata, Kizomba e muito mais.',
    url: 'https://opendancemadeira.com/pt/schedule',
    type: 'website',
    images: [
      {
        url: 'https://opendancemadeira.com/_astro/schedule.DUrHFcPl_Z2vGXrj.webp',
        width: 1200,
        height: 630,
        alt: 'Horário OpenDance Madeira',
      },
    ],
  },
  twitter: {
    card: 'summary_large_image',
    site: '@OpenDanceMadeira',
    title: 'Horário - OpenDance Madeira',
    description:
      'Confira o último horário das aulas e eventos de dança na OpenDance Madeira. Fique atualizado com nossas aulas de Salsa Cubana, Bachata, Kizomba e muito mais.',
    image: 'https://opendancemadeira.com/_astro/schedule.DUrHFcPl_Z2vGXrj.webp',
  },
};
---

<Layout metadata={metadata}>
  <Hero
    tagline="Pioneiros na Dança Latina Desde 2008"
    title="Horário"
    subtitle="Descubra o nosso horário semanal, concebido para todos os níveis e estilos. Desde sessões energéticas de salsa a aulas tranquilas de bachata, proporcionamos o ambiente perfeito para a sua jornada na dança."
  />
  <div class="relative m-auto max-w-5xl">
    <Image src="~/assets/images/schedule.jpg" alt="Imagem do Horário Semanal" />
  </div>

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Inscreva-se aqui!',
        href: '/pt/contact',
      },
    ]}
    title="Está pronto para dançar?"
    subtitle="Contacte-nos e inscreva-se numa aula hoje mesmo!"
  />
</Layout>
