---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Image from '~/components/common/Image.astro';

const metadata = {
  title: 'Schedule - OpenDance Madeira',
  description:
    'Check out the latest schedule for dance classes and events at OpenDance Madeira. Stay updated with our Cuban Salsa, Bachata, Kizomba, and more.',
  keywords: 'dance schedule, dance classes, Cuban Salsa, Bachata, Kizomba, Madeira, dance events',
  canonical: 'https://opendancemadeira.com/en/schedule',
  openGraph: {
    title: 'Schedule - OpenDance Madeira',
    description:
      'Check out the latest schedule for dance classes and events at OpenDance Madeira. Stay updated with our Cuban Salsa, Bachata, Kizomba, and more.',
    url: 'https://opendancemadeira.com/en/schedule',
    type: 'website',
    images: [
      {
        url: 'https://opendancemadeira.com/_astro/schedule.DUrHFcPl_Z2vGXrj.webp',
        width: 1200,
        height: 630,
        alt: 'OpenDance Madeira Schedule',
      },
    ],
  },
  twitter: {
    card: 'summary_large_image',
    site: '@OpenDanceMadeira',
    title: 'Schedule - OpenDance Madeira',
    description:
      'Check out the latest schedule for dance classes and events at OpenDance Madeira. Stay updated with our Cuban Salsa, Bachata, Kizomba, and more.',
    image: 'https://opendancemadeira.com/_astro/schedule.DUrHFcPl_Z2vGXrj.webp',
  },
};
---

<Layout metadata={metadata} isEnglish>
  <Hero
    tagline="Pioneers in Latin Dance Since 2008"
    title="Schedule"
    subtitle="Discover our weekly schedule designed to cater to all levels and styles. From energetic salsa sessions to calming bachata classes, we provide the perfect environment for your dance journey."
  />

  <div class="relative m-auto max-w-5xl">
    <Image src="https://drive.google.com/file/d/1Y8i31mWoKVk0UHeMDmTjai7fQB3Gcj8o/view?usp=sharing" alt="Imagem do Horário Semanal" />
  </div>

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Sign up here!',
        href: '/en/contact',
      },
    ]}
    title="Are you ready to dance?"
    subtitle="Contact us and sign up for a class today!"
  />
</Layout>
