---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { headerDataEn, headerDataPt, footerDataEn, footerDataPt } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
  isEnglish?: boolean;
}

const { metadata, isEnglish } = Astro.props;
const headerData = isEnglish ? headerDataEn : headerDataPt;
const footerData = isEnglish ? footerDataEn : footerDataPt;
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header {...headerData} isSticky isEnglish={isEnglish} showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
